#block1
{
width:50%;
height:400px;
background-color:red;
float:right;
}
#block2
{
width:50%;
height:400px;
background-color:yellow;
float:left;
}
#block3
{
width:100%;
height:200px;
background-color:black;
clear:both;
}