body
{
width:80%;
margin:0px auto;
background-color:#D5308D;
}
h1
{
text-align:center;
padding:20px;
color:white;
}
#header
{
height:100px;
width:100%;
background-color:red;
}
#banner
{
height:300px;
width:100%;
background-color:yellow;
overflow:hidden;
}
#intro
{
height:200px;
width:100%;
background-color:green;
overflow:hidden;
}
#box1
{
height:400px;
width:32%;
background-color:blue;
overflow:hidden;
float:left;
margin-right:2%;
}
#box2
{
height:400px;
width:32%;
background-color:pink;
overflow:hidden;
float:left;
margin-right:2%;
}
#box3
{
height:400px;
width:32%;
background-color:blue;
overflow:hidden;
float:right;
}
#footer
{
height:100px;
width:100%;
background-color:red;
clear:both;
}