
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #333;
    min-width: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 0px 30px;
}
a{
    color: #a0a0a0;
    text-decoration: none;
    
    transition: 0.2s;
 
    letter-spacing: 0.5px;
    position: relative;
}
a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: yellowgreen;
    transition: 0.5s linear;
}
a:hover:after{
    width: 100%;
}
a:hover{
    color:#fff

}