body{
   position: absolute;
   top: 20%;
   left: 40%;
   transform: translate(-50% -50%);
   background-color: aliceblue;

}
#container{
    width: 350px;
    height: 400px;
    border: 5px solid blueviolet;
    display: grid;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 1px 1px 5px blueviolet;
}

#container h2{
    color: blueviolet;
}
#input{
    padding: 7px;
    font-size: 15px;
    border-color: blueviolet;
    border-radius: 10px;
    
  
}
#button{
    background-color: lightseagreen;
    border-color: lightseagreen;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
#result
{
    height: 30px;
    background-color: white;
    border-radius: 5px;
    display: grid;
    place-content: center;
    border: 3px solid blueviolet;
    color: blue;

}